/* frontend/styles/style.css */
body {
  font-family: sans-serif;
  background-color: #f3f3f3;
  padding: 30px;
}

.container {
  background: white;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
  width: 90%;
  margin: 10px 0;
  padding: 8px;
}

button {
  padding: 10px 15px;
  background: teal;
  color: white;
  border: none;
  cursor: pointer;
}
